<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><h1>{{ with .Params.icon }}<img src="/pix/{{ . }}" class=titleicon>{{ end }}{{ .Title }}</h1></header>
<article>{{ with .Params.img }}<img src="/pix/{{ . }}" class=titleimg>{{ end }}
{{ block "main" . -}}
{{ .Content }}
{{- end -}}
</article>
{{- if in .Params.tags "basic" -}}
{{ with .NextInSection }}
<a class=next href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
{{- end }}
{{- with .PrevInSection }}
<span class=prev>Or Previous: <a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
{{- end -}}
{{- end }}
{{ if in .Params.tags "mail" -}}
{{ with .NextInSection -}}
<a class=next href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
{{- end -}}
{{- with .PrevInSection }}
<span class=prev>Or Previous: <a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
{{- end -}}
{{- end }}
</main>
{{ block "footer" . -}}
<footer>
	<a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
	{{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
</footer>
{{- end }}
</body>
</html>
